#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #00e5ff, 324px 42px #00e5ff, 303px 586px #00e5ff,
    1312px 276px #00e5ff, 451px 625px #00e5ff, 521px 1931px #00e5ff, 1087px 1871px #00e5ff,
    36px 1546px #00e5ff, 132px 934px #00e5ff, 1698px 901px #00e5ff, 1418px 664px #00e5ff,
    1448px 1157px #00e5ff, 1084px 232px #00e5ff, 347px 1776px #00e5ff, 1722px 243px #00e5ff,
    1629px 835px #00e5ff, 479px 969px #00e5ff, 1231px 960px #00e5ff, 586px 384px #00e5ff,
    164px 527px #00e5ff, 8px 646px #00e5ff, 1150px 1126px #00e5ff, 665px 1357px #00e5ff,
    1556px 1982px #00e5ff, 1260px 1961px #00e5ff, 1675px 1741px #00e5ff,
    1843px 1514px #00e5ff, 718px 1628px #00e5ff, 242px 1343px #00e5ff, 1497px 1880px #00e5ff,
    1364px 230px #00e5ff, 1739px 1302px #00e5ff, 636px 959px #00e5ff, 304px 686px #00e5ff,
    614px 751px #00e5ff, 1935px 816px #00e5ff, 1428px 60px #00e5ff, 355px 335px #00e5ff,
    1594px 158px #00e5ff, 90px 60px #00e5ff, 1553px 162px #00e5ff, 1239px 1825px #00e5ff,
    1945px 587px #00e5ff, 749px 1785px #00e5ff, 1987px 1172px #00e5ff, 1301px 1237px #00e5ff,
    1039px 342px #00e5ff, 1585px 1481px #00e5ff, 995px 1048px #00e5ff, 524px 932px #00e5ff,
    214px 413px #00e5ff, 1701px 1300px #00e5ff, 1037px 1613px #00e5ff, 1871px 996px #00e5ff,
    1360px 1635px #00e5ff, 1110px 1313px #00e5ff, 412px 1783px #00e5ff, 1949px 177px #00e5ff,
    903px 1854px #00e5ff, 700px 1936px #00e5ff, 378px 125px #00e5ff, 308px 834px #00e5ff,
    1118px 962px #00e5ff, 1350px 1929px #00e5ff, 781px 1811px #00e5ff, 561px 137px #00e5ff,
    757px 1148px #00e5ff, 1670px 1979px #00e5ff, 343px 739px #00e5ff, 945px 795px #00e5ff,
    576px 1903px #00e5ff, 1078px 1436px #00e5ff, 1583px 450px #00e5ff, 1366px 474px #00e5ff,
    297px 1873px #00e5ff, 192px 162px #00e5ff, 1624px 1633px #00e5ff, 59px 453px #00e5ff,
    82px 1872px #00e5ff, 1933px 498px #00e5ff, 1966px 1974px #00e5ff, 1975px 1688px #00e5ff,
    779px 314px #00e5ff, 1858px 1543px #00e5ff, 73px 1507px #00e5ff, 1693px 975px #00e5ff,
    1683px 108px #00e5ff, 1768px 1654px #00e5ff, 654px 14px #00e5ff, 494px 171px #00e5ff,
    1689px 1895px #00e5ff, 1660px 263px #00e5ff, 1031px 903px #00e5ff, 1203px 1393px #00e5ff,
    1333px 1421px #00e5ff, 1113px 41px #00e5ff, 1206px 1645px #00e5ff, 1325px 1635px #00e5ff,
    142px 388px #00e5ff, 572px 215px #00e5ff, 1535px 296px #00e5ff, 1419px 407px #00e5ff,
    1379px 1003px #00e5ff, 329px 469px #00e5ff, 1791px 1652px #00e5ff, 935px 1802px #00e5ff,
    1330px 1820px #00e5ff, 421px 1933px #00e5ff, 828px 365px #00e5ff, 275px 316px #00e5ff,
    707px 960px #00e5ff, 1605px 1554px #00e5ff, 625px 58px #00e5ff, 717px 1697px #00e5ff,
    1669px 246px #00e5ff, 1925px 322px #00e5ff, 1154px 1803px #00e5ff, 1929px 295px #00e5ff,
    1248px 240px #00e5ff, 1045px 1755px #00e5ff, 166px 942px #00e5ff, 1888px 1773px #00e5ff,
    678px 1963px #00e5ff, 1370px 569px #00e5ff, 1974px 1400px #00e5ff, 1786px 460px #00e5ff,
    51px 307px #00e5ff, 784px 1400px #00e5ff, 730px 1258px #00e5ff, 1712px 393px #00e5ff,
    416px 170px #00e5ff, 1797px 1932px #00e5ff, 572px 219px #00e5ff, 1557px 1856px #00e5ff,
    218px 8px #00e5ff, 348px 1334px #00e5ff, 469px 413px #00e5ff, 385px 1738px #00e5ff,
    1357px 1818px #00e5ff, 240px 942px #00e5ff, 248px 1847px #00e5ff, 1535px 806px #00e5ff,
    236px 1514px #00e5ff, 1429px 1556px #00e5ff, 73px 1633px #00e5ff, 1398px 1121px #00e5ff,
    671px 1301px #00e5ff, 1404px 1663px #00e5ff, 740px 1018px #00e5ff, 1600px 377px #00e5ff,
    785px 514px #00e5ff, 112px 1084px #00e5ff, 1915px 1887px #00e5ff, 1463px 1848px #00e5ff,
    687px 1115px #00e5ff, 1268px 1768px #00e5ff, 1729px 1425px #00e5ff,
    1284px 1022px #00e5ff, 801px 974px #00e5ff, 1975px 1317px #00e5ff, 1354px 834px #00e5ff,
    1446px 1484px #00e5ff, 1283px 1786px #00e5ff, 11px 523px #00e5ff, 1842px 236px #00e5ff,
    1355px 654px #00e5ff, 429px 7px #00e5ff, 1033px 1128px #00e5ff, 157px 297px #00e5ff,
    545px 635px #00e5ff, 52px 1080px #00e5ff, 827px 1520px #00e5ff, 1121px 490px #00e5ff,
    9px 309px #00e5ff, 1744px 1586px #00e5ff, 1014px 417px #00e5ff, 1534px 524px #00e5ff,
    958px 552px #00e5ff, 1403px 1496px #00e5ff, 387px 703px #00e5ff, 1522px 548px #00e5ff,
    1355px 282px #00e5ff, 1532px 601px #00e5ff, 1838px 790px #00e5ff, 290px 259px #00e5ff,
    295px 598px #00e5ff, 1601px 539px #00e5ff, 1561px 1272px #00e5ff, 34px 1922px #00e5ff,
    1024px 543px #00e5ff, 467px 369px #00e5ff, 722px 333px #00e5ff, 1976px 1255px #00e5ff,
    766px 983px #00e5ff, 1582px 1285px #00e5ff, 12px 512px #00e5ff, 617px 1410px #00e5ff,
    682px 577px #00e5ff, 1334px 1438px #00e5ff, 439px 327px #00e5ff, 1617px 1661px #00e5ff,
    673px 129px #00e5ff, 794px 941px #00e5ff, 1386px 1902px #00e5ff, 37px 1353px #00e5ff,
    1467px 1353px #00e5ff, 416px 18px #00e5ff, 187px 344px #00e5ff, 200px 1898px #00e5ff,
    1491px 1619px #00e5ff, 811px 347px #00e5ff, 924px 1827px #00e5ff, 945px 217px #00e5ff,
    1735px 1228px #00e5ff, 379px 1890px #00e5ff, 79px 761px #00e5ff, 825px 1837px #00e5ff,
    1980px 1558px #00e5ff, 1308px 1573px #00e5ff, 1488px 1726px #00e5ff,
    382px 1208px #00e5ff, 522px 595px #00e5ff, 1277px 1898px #00e5ff, 354px 552px #00e5ff,
    161px 1784px #00e5ff, 614px 251px #00e5ff, 526px 1576px #00e5ff, 17px 212px #00e5ff,
    179px 996px #00e5ff, 467px 1208px #00e5ff, 1944px 1838px #00e5ff, 1140px 1093px #00e5ff,
    858px 1007px #00e5ff, 200px 1064px #00e5ff, 423px 1964px #00e5ff, 1945px 439px #00e5ff,
    1377px 689px #00e5ff, 1120px 1437px #00e5ff, 1876px 668px #00e5ff, 907px 1324px #00e5ff,
    343px 1976px #00e5ff, 1816px 1501px #00e5ff, 1849px 177px #00e5ff, 647px 91px #00e5ff,
    1984px 1012px #00e5ff, 1336px 1300px #00e5ff, 128px 648px #00e5ff, 305px 1060px #00e5ff,
    1324px 826px #00e5ff, 1263px 1314px #00e5ff, 1801px 629px #00e5ff, 1614px 1555px #00e5ff,
    1634px 90px #00e5ff, 1603px 452px #00e5ff, 891px 1984px #00e5ff, 1556px 1906px #00e5ff,
    121px 68px #00e5ff, 1676px 1714px #00e5ff, 516px 936px #00e5ff, 1947px 1492px #00e5ff,
    1455px 1519px #00e5ff, 45px 602px #00e5ff, 205px 1039px #00e5ff, 793px 172px #00e5ff,
    1562px 1739px #00e5ff, 1056px 110px #00e5ff, 1512px 379px #00e5ff, 1795px 1621px #00e5ff,
    1848px 607px #00e5ff, 262px 1719px #00e5ff, 477px 991px #00e5ff, 483px 883px #00e5ff,
    1239px 1197px #00e5ff, 1496px 647px #00e5ff, 1649px 25px #00e5ff, 1491px 1946px #00e5ff,
    119px 996px #00e5ff, 179px 1472px #00e5ff, 1341px 808px #00e5ff, 1565px 1700px #00e5ff,
    407px 1544px #00e5ff, 1754px 357px #00e5ff, 1288px 981px #00e5ff, 902px 1997px #00e5ff,
    1755px 1668px #00e5ff, 186px 877px #00e5ff, 1202px 1882px #00e5ff, 461px 1213px #00e5ff,
    1400px 748px #00e5ff, 1969px 1899px #00e5ff, 809px 522px #00e5ff, 514px 1219px #00e5ff,
    374px 275px #00e5ff, 938px 1973px #00e5ff, 357px 552px #00e5ff, 144px 1722px #00e5ff,
    1572px 912px #00e5ff, 402px 1858px #00e5ff, 1544px 1195px #00e5ff, 667px 1257px #00e5ff,
    727px 1496px #00e5ff, 993px 232px #00e5ff, 1772px 313px #00e5ff, 1040px 1590px #00e5ff,
    1204px 1973px #00e5ff, 1268px 79px #00e5ff, 1555px 1048px #00e5ff, 986px 1707px #00e5ff,
    978px 1710px #00e5ff, 713px 360px #00e5ff, 407px 863px #00e5ff, 461px 736px #00e5ff,
    284px 1608px #00e5ff, 103px 430px #00e5ff, 1283px 1319px #00e5ff, 977px 1186px #00e5ff,
    1966px 1516px #00e5ff, 1287px 1129px #00e5ff, 70px 1098px #00e5ff, 1189px 889px #00e5ff,
    1126px 1734px #00e5ff, 309px 1292px #00e5ff, 879px 764px #00e5ff, 65px 473px #00e5ff,
    1003px 1959px #00e5ff, 658px 791px #00e5ff, 402px 1576px #00e5ff, 35px 622px #00e5ff,
    529px 1589px #00e5ff, 164px 666px #00e5ff, 1876px 1290px #00e5ff, 1541px 526px #00e5ff,
    270px 1297px #00e5ff, 440px 865px #00e5ff, 1500px 802px #00e5ff, 182px 1754px #00e5ff,
    1264px 892px #00e5ff, 272px 1249px #00e5ff, 1289px 1535px #00e5ff, 190px 1646px #00e5ff,
    955px 242px #00e5ff, 1456px 1597px #00e5ff, 1727px 1983px #00e5ff, 635px 801px #00e5ff,
    226px 455px #00e5ff, 1396px 1710px #00e5ff, 849px 1863px #00e5ff, 237px 1264px #00e5ff,
    839px 140px #00e5ff, 1122px 735px #00e5ff, 1280px 15px #00e5ff, 1318px 242px #00e5ff,
    1819px 1148px #00e5ff, 333px 1392px #00e5ff, 1949px 553px #00e5ff, 1878px 1332px #00e5ff,
    467px 548px #00e5ff, 1812px 1082px #00e5ff, 1067px 193px #00e5ff, 243px 156px #00e5ff,
    483px 1616px #00e5ff, 1714px 933px #00e5ff, 759px 1800px #00e5ff, 1822px 995px #00e5ff,
    1877px 572px #00e5ff, 581px 1084px #00e5ff, 107px 732px #00e5ff, 642px 1837px #00e5ff,
    166px 1493px #00e5ff, 1555px 198px #00e5ff, 819px 307px #00e5ff, 947px 345px #00e5ff,
    827px 224px #00e5ff, 927px 1394px #00e5ff, 540px 467px #00e5ff, 1093px 405px #00e5ff,
    1140px 927px #00e5ff, 130px 529px #00e5ff, 33px 1980px #00e5ff, 1147px 1663px #00e5ff,
    1616px 1436px #00e5ff, 528px 710px #00e5ff, 798px 1100px #00e5ff, 505px 1480px #00e5ff,
    899px 641px #00e5ff, 1909px 1949px #00e5ff, 1311px 964px #00e5ff, 979px 1301px #00e5ff,
    1393px 969px #00e5ff, 1793px 1886px #00e5ff, 292px 357px #00e5ff, 1196px 1718px #00e5ff,
    1290px 1994px #00e5ff, 537px 1973px #00e5ff, 1181px 1674px #00e5ff,
    1740px 1566px #00e5ff, 1307px 265px #00e5ff, 922px 522px #00e5ff, 1892px 472px #00e5ff,
    384px 1746px #00e5ff, 392px 1098px #00e5ff, 647px 548px #00e5ff, 390px 1498px #00e5ff,
    1246px 138px #00e5ff, 730px 876px #00e5ff, 192px 1472px #00e5ff, 1790px 1789px #00e5ff,
    928px 311px #00e5ff, 1253px 1647px #00e5ff, 747px 1921px #00e5ff, 1561px 1025px #00e5ff,
    1533px 1292px #00e5ff, 1985px 195px #00e5ff, 728px 729px #00e5ff, 1712px 1936px #00e5ff,
    512px 1717px #00e5ff, 1528px 483px #00e5ff, 313px 1642px #00e5ff, 281px 1849px #00e5ff,
    1212px 799px #00e5ff, 435px 1191px #00e5ff, 1422px 611px #00e5ff, 1718px 1964px #00e5ff,
    411px 944px #00e5ff, 210px 636px #00e5ff, 1502px 1295px #00e5ff, 1434px 349px #00e5ff,
    769px 60px #00e5ff, 747px 1053px #00e5ff, 789px 504px #00e5ff, 1436px 1264px #00e5ff,
    1893px 1225px #00e5ff, 1394px 1788px #00e5ff, 1108px 1317px #00e5ff,
    1673px 1395px #00e5ff, 854px 1010px #00e5ff, 1705px 80px #00e5ff, 1858px 148px #00e5ff,
    1729px 344px #00e5ff, 1388px 664px #00e5ff, 895px 406px #00e5ff, 1479px 157px #00e5ff,
    1441px 1157px #00e5ff, 552px 1900px #00e5ff, 516px 364px #00e5ff, 1647px 189px #00e5ff,
    1427px 1071px #00e5ff, 785px 729px #00e5ff, 1080px 1710px #00e5ff, 504px 204px #00e5ff,
    1177px 1622px #00e5ff, 657px 34px #00e5ff, 1296px 1099px #00e5ff, 248px 180px #00e5ff,
    1212px 1568px #00e5ff, 667px 1562px #00e5ff, 695px 841px #00e5ff, 1608px 1247px #00e5ff,
    751px 882px #00e5ff, 87px 167px #00e5ff, 607px 1368px #00e5ff, 1363px 1203px #00e5ff,
    1836px 317px #00e5ff, 1668px 1703px #00e5ff, 830px 1154px #00e5ff, 1721px 1398px #00e5ff,
    1601px 1280px #00e5ff, 976px 874px #00e5ff, 1743px 254px #00e5ff, 1020px 1815px #00e5ff,
    1670px 1766px #00e5ff, 1890px 735px #00e5ff, 1379px 136px #00e5ff, 1864px 695px #00e5ff,
    206px 965px #00e5ff, 1404px 1932px #00e5ff, 1923px 1360px #00e5ff, 247px 682px #00e5ff,
    519px 1708px #00e5ff, 645px 750px #00e5ff, 1164px 1204px #00e5ff, 834px 323px #00e5ff,
    172px 1350px #00e5ff, 213px 972px #00e5ff, 1837px 190px #00e5ff, 285px 1806px #00e5ff,
    1047px 1299px #00e5ff, 1548px 825px #00e5ff, 1730px 324px #00e5ff, 1346px 1909px #00e5ff,
    772px 270px #00e5ff, 345px 1190px #00e5ff, 478px 1433px #00e5ff, 1479px 25px #00e5ff,
    1994px 1830px #00e5ff, 1744px 732px #00e5ff, 20px 1635px #00e5ff, 690px 1795px #00e5ff,
    1594px 569px #00e5ff, 579px 245px #00e5ff, 1398px 733px #00e5ff, 408px 1352px #00e5ff,
    1774px 120px #00e5ff, 1152px 1370px #00e5ff, 1698px 1810px #00e5ff, 710px 1450px #00e5ff,
    665px 286px #00e5ff, 493px 1720px #00e5ff, 786px 5px #00e5ff, 637px 1140px #00e5ff,
    764px 324px #00e5ff, 927px 310px #00e5ff, 938px 1424px #00e5ff, 1884px 744px #00e5ff,
    913px 462px #00e5ff, 1831px 1936px #00e5ff, 1527px 249px #00e5ff, 36px 1381px #00e5ff,
    1597px 581px #00e5ff, 1530px 355px #00e5ff, 949px 459px #00e5ff, 799px 828px #00e5ff,
    242px 1471px #00e5ff, 654px 797px #00e5ff, 796px 594px #00e5ff, 1365px 678px #00e5ff,
    752px 23px #00e5ff, 1630px 541px #00e5ff, 982px 72px #00e5ff, 1733px 1831px #00e5ff,
    21px 412px #00e5ff, 775px 998px #00e5ff, 335px 1945px #00e5ff, 264px 583px #00e5ff,
    158px 1311px #00e5ff, 528px 164px #00e5ff, 1978px 574px #00e5ff, 717px 1203px #00e5ff,
    734px 1591px #00e5ff, 1555px 820px #00e5ff, 16px 1943px #00e5ff, 1625px 1177px #00e5ff,
    1236px 690px #00e5ff, 1585px 1590px #00e5ff, 1737px 1728px #00e5ff, 721px 698px #00e5ff,
    1804px 1186px #00e5ff, 166px 980px #00e5ff, 1850px 230px #00e5ff, 330px 1712px #00e5ff,
    95px 797px #00e5ff, 1948px 1078px #00e5ff, 469px 939px #00e5ff, 1269px 1899px #00e5ff,
    955px 1220px #00e5ff, 1137px 1075px #00e5ff, 312px 1293px #00e5ff, 986px 1762px #00e5ff,
    1103px 1238px #00e5ff, 428px 1993px #00e5ff, 355px 570px #00e5ff, 977px 1836px #00e5ff,
    1395px 1092px #00e5ff, 276px 913px #00e5ff, 1743px 656px #00e5ff, 773px 502px #00e5ff,
    1686px 1322px #00e5ff, 1516px 1945px #00e5ff, 1334px 501px #00e5ff, 266px 156px #00e5ff,
    455px 655px #00e5ff, 798px 72px #00e5ff, 1059px 1259px #00e5ff, 1402px 1687px #00e5ff,
    236px 1329px #00e5ff, 1455px 786px #00e5ff, 146px 1228px #00e5ff, 1851px 823px #00e5ff,
    1062px 100px #00e5ff, 1220px 953px #00e5ff, 20px 1826px #00e5ff, 36px 1063px #00e5ff,
    1525px 338px #00e5ff, 790px 1521px #00e5ff, 741px 1099px #00e5ff, 288px 1489px #00e5ff,
    700px 1060px #00e5ff, 390px 1071px #00e5ff, 411px 1036px #00e5ff, 1853px 1072px #00e5ff,
    1446px 1085px #00e5ff, 1164px 874px #00e5ff, 924px 925px #00e5ff, 291px 271px #00e5ff,
    1257px 1964px #00e5ff, 1580px 1352px #00e5ff, 1507px 1216px #00e5ff, 211px 956px #00e5ff,
    985px 1195px #00e5ff, 975px 1640px #00e5ff, 518px 101px #00e5ff, 663px 1395px #00e5ff,
    914px 532px #00e5ff, 145px 1320px #00e5ff, 69px 1397px #00e5ff, 982px 523px #00e5ff,
    257px 725px #00e5ff, 1599px 831px #00e5ff, 1636px 1513px #00e5ff, 1250px 1158px #00e5ff,
    1132px 604px #00e5ff, 183px 102px #00e5ff, 1057px 318px #00e5ff, 1247px 1835px #00e5ff,
    1983px 1110px #00e5ff, 1077px 1455px #00e5ff, 921px 1770px #00e5ff, 806px 1350px #00e5ff,
    1938px 1992px #00e5ff, 855px 1260px #00e5ff, 902px 1345px #00e5ff, 658px 1908px #00e5ff,
    1845px 679px #00e5ff, 712px 1482px #00e5ff, 595px 950px #00e5ff, 1784px 1992px #00e5ff,
    1847px 1785px #00e5ff, 691px 1004px #00e5ff, 175px 1179px #00e5ff, 1666px 1911px #00e5ff,
    41px 61px #00e5ff, 971px 1080px #00e5ff, 1830px 1450px #00e5ff, 1351px 1518px #00e5ff,
    1257px 99px #00e5ff, 1395px 1498px #00e5ff, 1117px 252px #00e5ff, 1779px 597px #00e5ff,
    1346px 729px #00e5ff, 1108px 1144px #00e5ff, 402px 691px #00e5ff, 72px 496px #00e5ff,
    1673px 1604px #00e5ff, 1497px 974px #00e5ff, 1865px 1664px #00e5ff, 88px 806px #00e5ff,
    918px 77px #00e5ff, 244px 1118px #00e5ff, 256px 1820px #00e5ff, 1851px 1840px #00e5ff,
    605px 1851px #00e5ff, 634px 383px #00e5ff, 865px 37px #00e5ff, 943px 1024px #00e5ff,
    1951px 177px #00e5ff, 1097px 523px #00e5ff, 985px 1700px #00e5ff, 1243px 122px #00e5ff,
    768px 1070px #00e5ff, 468px 194px #00e5ff, 320px 1867px #00e5ff, 1850px 185px #00e5ff,
    380px 1616px #00e5ff, 468px 1294px #00e5ff, 1122px 1743px #00e5ff, 884px 299px #00e5ff,
    1300px 1917px #00e5ff, 1860px 396px #00e5ff, 1270px 990px #00e5ff, 529px 733px #00e5ff,
    1975px 1347px #00e5ff, 1885px 685px #00e5ff, 226px 506px #00e5ff, 651px 878px #00e5ff,
    1323px 680px #00e5ff, 1284px 680px #00e5ff, 238px 1967px #00e5ff, 911px 174px #00e5ff,
    1111px 521px #00e5ff, 1150px 85px #00e5ff, 794px 502px #00e5ff, 484px 1856px #00e5ff,
    1809px 368px #00e5ff, 112px 953px #00e5ff, 590px 1009px #00e5ff, 1655px 311px #00e5ff,
    100px 1026px #00e5ff, 1803px 352px #00e5ff, 865px 306px #00e5ff, 1077px 1019px #00e5ff,
    1335px 872px #00e5ff, 1647px 1298px #00e5ff, 1233px 1387px #00e5ff, 698px 1036px #00e5ff,
    659px 1860px #00e5ff, 388px 1412px #00e5ff, 1212px 458px #00e5ff, 755px 1468px #00e5ff,
    696px 1654px #00e5ff, 1144px 60px #00e5ff;
}

#stars:after {
    content: '';
    position: relative;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #00e5ff, 324px 42px #00e5ff, 303px 586px #00e5ff,
    1312px 276px #00e5ff, 451px 625px #00e5ff, 521px 1931px #00e5ff, 1087px 1871px #00e5ff,
    36px 1546px #00e5ff, 132px 934px #00e5ff, 1698px 901px #00e5ff, 1418px 664px #00e5ff,
    1448px 1157px #00e5ff, 1084px 232px #00e5ff, 347px 1776px #00e5ff, 1722px 243px #00e5ff,
    1629px 835px #00e5ff, 479px 969px #00e5ff, 1231px 960px #00e5ff, 586px 384px #00e5ff,
    164px 527px #00e5ff, 8px 646px #00e5ff, 1150px 1126px #00e5ff, 665px 1357px #00e5ff,
    1556px 1982px #00e5ff, 1260px 1961px #00e5ff, 1675px 1741px #00e5ff,
    1843px 1514px #00e5ff, 718px 1628px #00e5ff, 242px 1343px #00e5ff, 1497px 1880px #00e5ff,
    1364px 230px #00e5ff, 1739px 1302px #00e5ff, 636px 959px #00e5ff, 304px 686px #00e5ff,
    614px 751px #00e5ff, 1935px 816px #00e5ff, 1428px 60px #00e5ff, 355px 335px #00e5ff,
    1594px 158px #00e5ff, 90px 60px #00e5ff, 1553px 162px #00e5ff, 1239px 1825px #00e5ff,
    1945px 587px #00e5ff, 749px 1785px #00e5ff, 1987px 1172px #00e5ff, 1301px 1237px #00e5ff,
    1039px 342px #00e5ff, 1585px 1481px #00e5ff, 995px 1048px #00e5ff, 524px 932px #00e5ff,
    214px 413px #00e5ff, 1701px 1300px #00e5ff, 1037px 1613px #00e5ff, 1871px 996px #00e5ff,
    1360px 1635px #00e5ff, 1110px 1313px #00e5ff, 412px 1783px #00e5ff, 1949px 177px #00e5ff,
    903px 1854px #00e5ff, 700px 1936px #00e5ff, 378px 125px #00e5ff, 308px 834px #00e5ff,
    1118px 962px #00e5ff, 1350px 1929px #00e5ff, 781px 1811px #00e5ff, 561px 137px #00e5ff,
    757px 1148px #00e5ff, 1670px 1979px #00e5ff, 343px 739px #00e5ff, 945px 795px #00e5ff,
    576px 1903px #00e5ff, 1078px 1436px #00e5ff, 1583px 450px #00e5ff, 1366px 474px #00e5ff,
    297px 1873px #00e5ff, 192px 162px #00e5ff, 1624px 1633px #00e5ff, 59px 453px #00e5ff,
    82px 1872px #00e5ff, 1933px 498px #00e5ff, 1966px 1974px #00e5ff, 1975px 1688px #00e5ff,
    779px 314px #00e5ff, 1858px 1543px #00e5ff, 73px 1507px #00e5ff, 1693px 975px #00e5ff,
    1683px 108px #00e5ff, 1768px 1654px #00e5ff, 654px 14px #00e5ff, 494px 171px #00e5ff,
    1689px 1895px #00e5ff, 1660px 263px #00e5ff, 1031px 903px #00e5ff, 1203px 1393px #00e5ff,
    1333px 1421px #00e5ff, 1113px 41px #00e5ff, 1206px 1645px #00e5ff, 1325px 1635px #00e5ff,
    142px 388px #00e5ff, 572px 215px #00e5ff, 1535px 296px #00e5ff, 1419px 407px #00e5ff,
    1379px 1003px #00e5ff, 329px 469px #00e5ff, 1791px 1652px #00e5ff, 935px 1802px #00e5ff,
    1330px 1820px #00e5ff, 421px 1933px #00e5ff, 828px 365px #00e5ff, 275px 316px #00e5ff,
    707px 960px #00e5ff, 1605px 1554px #00e5ff, 625px 58px #00e5ff, 717px 1697px #00e5ff,
    1669px 246px #00e5ff, 1925px 322px #00e5ff, 1154px 1803px #00e5ff, 1929px 295px #00e5ff,
    1248px 240px #00e5ff, 1045px 1755px #00e5ff, 166px 942px #00e5ff, 1888px 1773px #00e5ff,
    678px 1963px #00e5ff, 1370px 569px #00e5ff, 1974px 1400px #00e5ff, 1786px 460px #00e5ff,
    51px 307px #00e5ff, 784px 1400px #00e5ff, 730px 1258px #00e5ff, 1712px 393px #00e5ff,
    416px 170px #00e5ff, 1797px 1932px #00e5ff, 572px 219px #00e5ff, 1557px 1856px #00e5ff,
    218px 8px #00e5ff, 348px 1334px #00e5ff, 469px 413px #00e5ff, 385px 1738px #00e5ff,
    1357px 1818px #00e5ff, 240px 942px #00e5ff, 248px 1847px #00e5ff, 1535px 806px #00e5ff,
    236px 1514px #00e5ff, 1429px 1556px #00e5ff, 73px 1633px #00e5ff, 1398px 1121px #00e5ff,
    671px 1301px #00e5ff, 1404px 1663px #00e5ff, 740px 1018px #00e5ff, 1600px 377px #00e5ff,
    785px 514px #00e5ff, 112px 1084px #00e5ff, 1915px 1887px #00e5ff, 1463px 1848px #00e5ff,
    687px 1115px #00e5ff, 1268px 1768px #00e5ff, 1729px 1425px #00e5ff,
    1284px 1022px #00e5ff, 801px 974px #00e5ff, 1975px 1317px #00e5ff, 1354px 834px #00e5ff,
    1446px 1484px #00e5ff, 1283px 1786px #00e5ff, 11px 523px #00e5ff, 1842px 236px #00e5ff,
    1355px 654px #00e5ff, 429px 7px #00e5ff, 1033px 1128px #00e5ff, 157px 297px #00e5ff,
    545px 635px #00e5ff, 52px 1080px #00e5ff, 827px 1520px #00e5ff, 1121px 490px #00e5ff,
    9px 309px #00e5ff, 1744px 1586px #00e5ff, 1014px 417px #00e5ff, 1534px 524px #00e5ff,
    958px 552px #00e5ff, 1403px 1496px #00e5ff, 387px 703px #00e5ff, 1522px 548px #00e5ff,
    1355px 282px #00e5ff, 1532px 601px #00e5ff, 1838px 790px #00e5ff, 290px 259px #00e5ff,
    295px 598px #00e5ff, 1601px 539px #00e5ff, 1561px 1272px #00e5ff, 34px 1922px #00e5ff,
    1024px 543px #00e5ff, 467px 369px #00e5ff, 722px 333px #00e5ff, 1976px 1255px #00e5ff,
    766px 983px #00e5ff, 1582px 1285px #00e5ff, 12px 512px #00e5ff, 617px 1410px #00e5ff,
    682px 577px #00e5ff, 1334px 1438px #00e5ff, 439px 327px #00e5ff, 1617px 1661px #00e5ff,
    673px 129px #00e5ff, 794px 941px #00e5ff, 1386px 1902px #00e5ff, 37px 1353px #00e5ff,
    1467px 1353px #00e5ff, 416px 18px #00e5ff, 187px 344px #00e5ff, 200px 1898px #00e5ff,
    1491px 1619px #00e5ff, 811px 347px #00e5ff, 924px 1827px #00e5ff, 945px 217px #00e5ff,
    1735px 1228px #00e5ff, 379px 1890px #00e5ff, 79px 761px #00e5ff, 825px 1837px #00e5ff,
    1980px 1558px #00e5ff, 1308px 1573px #00e5ff, 1488px 1726px #00e5ff,
    382px 1208px #00e5ff, 522px 595px #00e5ff, 1277px 1898px #00e5ff, 354px 552px #00e5ff,
    161px 1784px #00e5ff, 614px 251px #00e5ff, 526px 1576px #00e5ff, 17px 212px #00e5ff,
    179px 996px #00e5ff, 467px 1208px #00e5ff, 1944px 1838px #00e5ff, 1140px 1093px #00e5ff,
    858px 1007px #00e5ff, 200px 1064px #00e5ff, 423px 1964px #00e5ff, 1945px 439px #00e5ff,
    1377px 689px #00e5ff, 1120px 1437px #00e5ff, 1876px 668px #00e5ff, 907px 1324px #00e5ff,
    343px 1976px #00e5ff, 1816px 1501px #00e5ff, 1849px 177px #00e5ff, 647px 91px #00e5ff,
    1984px 1012px #00e5ff, 1336px 1300px #00e5ff, 128px 648px #00e5ff, 305px 1060px #00e5ff,
    1324px 826px #00e5ff, 1263px 1314px #00e5ff, 1801px 629px #00e5ff, 1614px 1555px #00e5ff,
    1634px 90px #00e5ff, 1603px 452px #00e5ff, 891px 1984px #00e5ff, 1556px 1906px #00e5ff,
    121px 68px #00e5ff, 1676px 1714px #00e5ff, 516px 936px #00e5ff, 1947px 1492px #00e5ff,
    1455px 1519px #00e5ff, 45px 602px #00e5ff, 205px 1039px #00e5ff, 793px 172px #00e5ff,
    1562px 1739px #00e5ff, 1056px 110px #00e5ff, 1512px 379px #00e5ff, 1795px 1621px #00e5ff,
    1848px 607px #00e5ff, 262px 1719px #00e5ff, 477px 991px #00e5ff, 483px 883px #00e5ff,
    1239px 1197px #00e5ff, 1496px 647px #00e5ff, 1649px 25px #00e5ff, 1491px 1946px #00e5ff,
    119px 996px #00e5ff, 179px 1472px #00e5ff, 1341px 808px #00e5ff, 1565px 1700px #00e5ff,
    407px 1544px #00e5ff, 1754px 357px #00e5ff, 1288px 981px #00e5ff, 902px 1997px #00e5ff,
    1755px 1668px #00e5ff, 186px 877px #00e5ff, 1202px 1882px #00e5ff, 461px 1213px #00e5ff,
    1400px 748px #00e5ff, 1969px 1899px #00e5ff, 809px 522px #00e5ff, 514px 1219px #00e5ff,
    374px 275px #00e5ff, 938px 1973px #00e5ff, 357px 552px #00e5ff, 144px 1722px #00e5ff,
    1572px 912px #00e5ff, 402px 1858px #00e5ff, 1544px 1195px #00e5ff, 667px 1257px #00e5ff,
    727px 1496px #00e5ff, 993px 232px #00e5ff, 1772px 313px #00e5ff, 1040px 1590px #00e5ff,
    1204px 1973px #00e5ff, 1268px 79px #00e5ff, 1555px 1048px #00e5ff, 986px 1707px #00e5ff,
    978px 1710px #00e5ff, 713px 360px #00e5ff, 407px 863px #00e5ff, 461px 736px #00e5ff,
    284px 1608px #00e5ff, 103px 430px #00e5ff, 1283px 1319px #00e5ff, 977px 1186px #00e5ff,
    1966px 1516px #00e5ff, 1287px 1129px #00e5ff, 70px 1098px #00e5ff, 1189px 889px #00e5ff,
    1126px 1734px #00e5ff, 309px 1292px #00e5ff, 879px 764px #00e5ff, 65px 473px #00e5ff,
    1003px 1959px #00e5ff, 658px 791px #00e5ff, 402px 1576px #00e5ff, 35px 622px #00e5ff,
    529px 1589px #00e5ff, 164px 666px #00e5ff, 1876px 1290px #00e5ff, 1541px 526px #00e5ff,
    270px 1297px #00e5ff, 440px 865px #00e5ff, 1500px 802px #00e5ff, 182px 1754px #00e5ff,
    1264px 892px #00e5ff, 272px 1249px #00e5ff, 1289px 1535px #00e5ff, 190px 1646px #00e5ff,
    955px 242px #00e5ff, 1456px 1597px #00e5ff, 1727px 1983px #00e5ff, 635px 801px #00e5ff,
    226px 455px #00e5ff, 1396px 1710px #00e5ff, 849px 1863px #00e5ff, 237px 1264px #00e5ff,
    839px 140px #00e5ff, 1122px 735px #00e5ff, 1280px 15px #00e5ff, 1318px 242px #00e5ff,
    1819px 1148px #00e5ff, 333px 1392px #00e5ff, 1949px 553px #00e5ff, 1878px 1332px #00e5ff,
    467px 548px #00e5ff, 1812px 1082px #00e5ff, 1067px 193px #00e5ff, 243px 156px #00e5ff,
    483px 1616px #00e5ff, 1714px 933px #00e5ff, 759px 1800px #00e5ff, 1822px 995px #00e5ff,
    1877px 572px #00e5ff, 581px 1084px #00e5ff, 107px 732px #00e5ff, 642px 1837px #00e5ff,
    166px 1493px #00e5ff, 1555px 198px #00e5ff, 819px 307px #00e5ff, 947px 345px #00e5ff,
    827px 224px #00e5ff, 927px 1394px #00e5ff, 540px 467px #00e5ff, 1093px 405px #00e5ff,
    1140px 927px #00e5ff, 130px 529px #00e5ff, 33px 1980px #00e5ff, 1147px 1663px #00e5ff,
    1616px 1436px #00e5ff, 528px 710px #00e5ff, 798px 1100px #00e5ff, 505px 1480px #00e5ff,
    899px 641px #00e5ff, 1909px 1949px #00e5ff, 1311px 964px #00e5ff, 979px 1301px #00e5ff,
    1393px 969px #00e5ff, 1793px 1886px #00e5ff, 292px 357px #00e5ff, 1196px 1718px #00e5ff,
    1290px 1994px #00e5ff, 537px 1973px #00e5ff, 1181px 1674px #00e5ff,
    1740px 1566px #00e5ff, 1307px 265px #00e5ff, 922px 522px #00e5ff, 1892px 472px #00e5ff,
    384px 1746px #00e5ff, 392px 1098px #00e5ff, 647px 548px #00e5ff, 390px 1498px #00e5ff,
    1246px 138px #00e5ff, 730px 876px #00e5ff, 192px 1472px #00e5ff, 1790px 1789px #00e5ff,
    928px 311px #00e5ff, 1253px 1647px #00e5ff, 747px 1921px #00e5ff, 1561px 1025px #00e5ff,
    1533px 1292px #00e5ff, 1985px 195px #00e5ff, 728px 729px #00e5ff, 1712px 1936px #00e5ff,
    512px 1717px #00e5ff, 1528px 483px #00e5ff, 313px 1642px #00e5ff, 281px 1849px #00e5ff,
    1212px 799px #00e5ff, 435px 1191px #00e5ff, 1422px 611px #00e5ff, 1718px 1964px #00e5ff,
    411px 944px #00e5ff, 210px 636px #00e5ff, 1502px 1295px #00e5ff, 1434px 349px #00e5ff,
    769px 60px #00e5ff, 747px 1053px #00e5ff, 789px 504px #00e5ff, 1436px 1264px #00e5ff,
    1893px 1225px #00e5ff, 1394px 1788px #00e5ff, 1108px 1317px #00e5ff,
    1673px 1395px #00e5ff, 854px 1010px #00e5ff, 1705px 80px #00e5ff, 1858px 148px #00e5ff,
    1729px 344px #00e5ff, 1388px 664px #00e5ff, 895px 406px #00e5ff, 1479px 157px #00e5ff,
    1441px 1157px #00e5ff, 552px 1900px #00e5ff, 516px 364px #00e5ff, 1647px 189px #00e5ff,
    1427px 1071px #00e5ff, 785px 729px #00e5ff, 1080px 1710px #00e5ff, 504px 204px #00e5ff,
    1177px 1622px #00e5ff, 657px 34px #00e5ff, 1296px 1099px #00e5ff, 248px 180px #00e5ff,
    1212px 1568px #00e5ff, 667px 1562px #00e5ff, 695px 841px #00e5ff, 1608px 1247px #00e5ff,
    751px 882px #00e5ff, 87px 167px #00e5ff, 607px 1368px #00e5ff, 1363px 1203px #00e5ff,
    1836px 317px #00e5ff, 1668px 1703px #00e5ff, 830px 1154px #00e5ff, 1721px 1398px #00e5ff,
    1601px 1280px #00e5ff, 976px 874px #00e5ff, 1743px 254px #00e5ff, 1020px 1815px #00e5ff,
    1670px 1766px #00e5ff, 1890px 735px #00e5ff, 1379px 136px #00e5ff, 1864px 695px #00e5ff,
    206px 965px #00e5ff, 1404px 1932px #00e5ff, 1923px 1360px #00e5ff, 247px 682px #00e5ff,
    519px 1708px #00e5ff, 645px 750px #00e5ff, 1164px 1204px #00e5ff, 834px 323px #00e5ff,
    172px 1350px #00e5ff, 213px 972px #00e5ff, 1837px 190px #00e5ff, 285px 1806px #00e5ff,
    1047px 1299px #00e5ff, 1548px 825px #00e5ff, 1730px 324px #00e5ff, 1346px 1909px #00e5ff,
    772px 270px #00e5ff, 345px 1190px #00e5ff, 478px 1433px #00e5ff, 1479px 25px #00e5ff,
    1994px 1830px #00e5ff, 1744px 732px #00e5ff, 20px 1635px #00e5ff, 690px 1795px #00e5ff,
    1594px 569px #00e5ff, 579px 245px #00e5ff, 1398px 733px #00e5ff, 408px 1352px #00e5ff,
    1774px 120px #00e5ff, 1152px 1370px #00e5ff, 1698px 1810px #00e5ff, 710px 1450px #00e5ff,
    665px 286px #00e5ff, 493px 1720px #00e5ff, 786px 5px #00e5ff, 637px 1140px #00e5ff,
    764px 324px #00e5ff, 927px 310px #00e5ff, 938px 1424px #00e5ff, 1884px 744px #00e5ff,
    913px 462px #00e5ff, 1831px 1936px #00e5ff, 1527px 249px #00e5ff, 36px 1381px #00e5ff,
    1597px 581px #00e5ff, 1530px 355px #00e5ff, 949px 459px #00e5ff, 799px 828px #00e5ff,
    242px 1471px #00e5ff, 654px 797px #00e5ff, 796px 594px #00e5ff, 1365px 678px #00e5ff,
    752px 23px #00e5ff, 1630px 541px #00e5ff, 982px 72px #00e5ff, 1733px 1831px #00e5ff,
    21px 412px #00e5ff, 775px 998px #00e5ff, 335px 1945px #00e5ff, 264px 583px #00e5ff,
    158px 1311px #00e5ff, 528px 164px #00e5ff, 1978px 574px #00e5ff, 717px 1203px #00e5ff,
    734px 1591px #00e5ff, 1555px 820px #00e5ff, 16px 1943px #00e5ff, 1625px 1177px #00e5ff,
    1236px 690px #00e5ff, 1585px 1590px #00e5ff, 1737px 1728px #00e5ff, 721px 698px #00e5ff,
    1804px 1186px #00e5ff, 166px 980px #00e5ff, 1850px 230px #00e5ff, 330px 1712px #00e5ff,
    95px 797px #00e5ff, 1948px 1078px #00e5ff, 469px 939px #00e5ff, 1269px 1899px #00e5ff,
    955px 1220px #00e5ff, 1137px 1075px #00e5ff, 312px 1293px #00e5ff, 986px 1762px #00e5ff,
    1103px 1238px #00e5ff, 428px 1993px #00e5ff, 355px 570px #00e5ff, 977px 1836px #00e5ff,
    1395px 1092px #00e5ff, 276px 913px #00e5ff, 1743px 656px #00e5ff, 773px 502px #00e5ff,
    1686px 1322px #00e5ff, 1516px 1945px #00e5ff, 1334px 501px #00e5ff, 266px 156px #00e5ff,
    455px 655px #00e5ff, 798px 72px #00e5ff, 1059px 1259px #00e5ff, 1402px 1687px #00e5ff,
    236px 1329px #00e5ff, 1455px 786px #00e5ff, 146px 1228px #00e5ff, 1851px 823px #00e5ff,
    1062px 100px #00e5ff, 1220px 953px #00e5ff, 20px 1826px #00e5ff, 36px 1063px #00e5ff,
    1525px 338px #00e5ff, 790px 1521px #00e5ff, 741px 1099px #00e5ff, 288px 1489px #00e5ff,
    700px 1060px #00e5ff, 390px 1071px #00e5ff, 411px 1036px #00e5ff, 1853px 1072px #00e5ff,
    1446px 1085px #00e5ff, 1164px 874px #00e5ff, 924px 925px #00e5ff, 291px 271px #00e5ff,
    1257px 1964px #00e5ff, 1580px 1352px #00e5ff, 1507px 1216px #00e5ff, 211px 956px #00e5ff,
    985px 1195px #00e5ff, 975px 1640px #00e5ff, 518px 101px #00e5ff, 663px 1395px #00e5ff,
    914px 532px #00e5ff, 145px 1320px #00e5ff, 69px 1397px #00e5ff, 982px 523px #00e5ff,
    257px 725px #00e5ff, 1599px 831px #00e5ff, 1636px 1513px #00e5ff, 1250px 1158px #00e5ff,
    1132px 604px #00e5ff, 183px 102px #00e5ff, 1057px 318px #00e5ff, 1247px 1835px #00e5ff,
    1983px 1110px #00e5ff, 1077px 1455px #00e5ff, 921px 1770px #00e5ff, 806px 1350px #00e5ff,
    1938px 1992px #00e5ff, 855px 1260px #00e5ff, 902px 1345px #00e5ff, 658px 1908px #00e5ff,
    1845px 679px #00e5ff, 712px 1482px #00e5ff, 595px 950px #00e5ff, 1784px 1992px #00e5ff,
    1847px 1785px #00e5ff, 691px 1004px #00e5ff, 175px 1179px #00e5ff, 1666px 1911px #00e5ff,
    41px 61px #00e5ff, 971px 1080px #00e5ff, 1830px 1450px #00e5ff, 1351px 1518px #00e5ff,
    1257px 99px #00e5ff, 1395px 1498px #00e5ff, 1117px 252px #00e5ff, 1779px 597px #00e5ff,
    1346px 729px #00e5ff, 1108px 1144px #00e5ff, 402px 691px #00e5ff, 72px 496px #00e5ff,
    1673px 1604px #00e5ff, 1497px 974px #00e5ff, 1865px 1664px #00e5ff, 88px 806px #00e5ff,
    918px 77px #00e5ff, 244px 1118px #00e5ff, 256px 1820px #00e5ff, 1851px 1840px #00e5ff,
    605px 1851px #00e5ff, 634px 383px #00e5ff, 865px 37px #00e5ff, 943px 1024px #00e5ff,
    1951px 177px #00e5ff, 1097px 523px #00e5ff, 985px 1700px #00e5ff, 1243px 122px #00e5ff,
    768px 1070px #00e5ff, 468px 194px #00e5ff, 320px 1867px #00e5ff, 1850px 185px #00e5ff,
    380px 1616px #00e5ff, 468px 1294px #00e5ff, 1122px 1743px #00e5ff, 884px 299px #00e5ff,
    1300px 1917px #00e5ff, 1860px 396px #00e5ff, 1270px 990px #00e5ff, 529px 733px #00e5ff,
    1975px 1347px #00e5ff, 1885px 685px #00e5ff, 226px 506px #00e5ff, 651px 878px #00e5ff,
    1323px 680px #00e5ff, 1284px 680px #00e5ff, 238px 1967px #00e5ff, 911px 174px #00e5ff,
    1111px 521px #00e5ff, 1150px 85px #00e5ff, 794px 502px #00e5ff, 484px 1856px #00e5ff,
    1809px 368px #00e5ff, 112px 953px #00e5ff, 590px 1009px #00e5ff, 1655px 311px #00e5ff,
    100px 1026px #00e5ff, 1803px 352px #00e5ff, 865px 306px #00e5ff, 1077px 1019px #00e5ff,
    1335px 872px #00e5ff, 1647px 1298px #00e5ff, 1233px 1387px #00e5ff, 698px 1036px #00e5ff,
    659px 1860px #00e5ff, 388px 1412px #00e5ff, 1212px 458px #00e5ff, 755px 1468px #00e5ff,
    696px 1654px #00e5ff, 1144px 60px #00e5ff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #00e5ff, 1775px 1663px #00e5ff, 332px 1364px #00e5ff,
    878px 340px #00e5ff, 569px 1832px #00e5ff, 1422px 1684px #00e5ff, 1946px 1907px #00e5ff,
    121px 979px #00e5ff, 1044px 1069px #00e5ff, 463px 381px #00e5ff, 423px 112px #00e5ff,
    523px 1179px #00e5ff, 779px 654px #00e5ff, 1398px 694px #00e5ff, 1085px 1464px #00e5ff,
    1599px 1869px #00e5ff, 801px 1882px #00e5ff, 779px 1231px #00e5ff, 552px 932px #00e5ff,
    1057px 1196px #00e5ff, 282px 1280px #00e5ff, 496px 1986px #00e5ff, 1833px 1120px #00e5ff,
    1802px 1293px #00e5ff, 6px 1696px #00e5ff, 412px 1902px #00e5ff, 605px 438px #00e5ff,
    24px 1212px #00e5ff, 234px 1320px #00e5ff, 544px 344px #00e5ff, 1107px 170px #00e5ff,
    1603px 196px #00e5ff, 905px 648px #00e5ff, 68px 1458px #00e5ff, 649px 1969px #00e5ff,
    744px 675px #00e5ff, 1127px 478px #00e5ff, 714px 1814px #00e5ff, 1486px 526px #00e5ff,
    270px 1636px #00e5ff, 1931px 149px #00e5ff, 1807px 378px #00e5ff, 8px 390px #00e5ff,
    1415px 699px #00e5ff, 1473px 1211px #00e5ff, 1590px 141px #00e5ff, 270px 1705px #00e5ff,
    69px 1423px #00e5ff, 1108px 1053px #00e5ff, 1946px 128px #00e5ff, 371px 371px #00e5ff,
    1490px 220px #00e5ff, 357px 1885px #00e5ff, 363px 363px #00e5ff, 1896px 1256px #00e5ff,
    1979px 1050px #00e5ff, 947px 1342px #00e5ff, 1754px 242px #00e5ff, 514px 974px #00e5ff,
    65px 1477px #00e5ff, 1840px 547px #00e5ff, 950px 695px #00e5ff, 459px 1150px #00e5ff,
    1124px 1502px #00e5ff, 481px 940px #00e5ff, 680px 839px #00e5ff, 797px 1169px #00e5ff,
    1977px 1491px #00e5ff, 734px 1724px #00e5ff, 210px 298px #00e5ff, 816px 628px #00e5ff,
    686px 770px #00e5ff, 1721px 267px #00e5ff, 1663px 511px #00e5ff, 1481px 1141px #00e5ff,
    582px 248px #00e5ff, 1308px 953px #00e5ff, 628px 657px #00e5ff, 897px 1535px #00e5ff,
    270px 931px #00e5ff, 791px 467px #00e5ff, 1336px 1732px #00e5ff, 1013px 1653px #00e5ff,
    1911px 956px #00e5ff, 587px 816px #00e5ff, 83px 456px #00e5ff, 930px 1478px #00e5ff,
    1587px 1694px #00e5ff, 614px 1200px #00e5ff, 302px 1782px #00e5ff, 1711px 1432px #00e5ff,
    443px 904px #00e5ff, 1666px 714px #00e5ff, 1588px 1167px #00e5ff, 273px 1075px #00e5ff,
    1679px 461px #00e5ff, 721px 664px #00e5ff, 1202px 10px #00e5ff, 166px 1126px #00e5ff,
    331px 1628px #00e5ff, 430px 1565px #00e5ff, 1585px 509px #00e5ff, 640px 38px #00e5ff,
    822px 837px #00e5ff, 1760px 1664px #00e5ff, 1122px 1458px #00e5ff, 398px 131px #00e5ff,
    689px 285px #00e5ff, 460px 652px #00e5ff, 1627px 365px #00e5ff, 348px 1648px #00e5ff,
    819px 1946px #00e5ff, 981px 1917px #00e5ff, 323px 76px #00e5ff, 979px 684px #00e5ff,
    887px 536px #00e5ff, 1348px 1596px #00e5ff, 1055px 666px #00e5ff, 1402px 1797px #00e5ff,
    1300px 1055px #00e5ff, 937px 238px #00e5ff, 1474px 1815px #00e5ff, 1144px 1710px #00e5ff,
    1629px 1087px #00e5ff, 911px 919px #00e5ff, 771px 819px #00e5ff, 403px 720px #00e5ff,
    163px 736px #00e5ff, 1062px 238px #00e5ff, 1774px 818px #00e5ff, 1874px 1178px #00e5ff,
    1177px 699px #00e5ff, 1244px 1244px #00e5ff, 1371px 58px #00e5ff, 564px 1515px #00e5ff,
    1824px 487px #00e5ff, 929px 702px #00e5ff, 394px 1348px #00e5ff, 1161px 641px #00e5ff,
    219px 1841px #00e5ff, 358px 941px #00e5ff, 140px 1759px #00e5ff, 1019px 1345px #00e5ff,
    274px 436px #00e5ff, 1433px 1605px #00e5ff, 1798px 1426px #00e5ff, 294px 1848px #00e5ff,
    1681px 1877px #00e5ff, 1344px 1824px #00e5ff, 1439px 1632px #00e5ff,
    161px 1012px #00e5ff, 1308px 588px #00e5ff, 1789px 582px #00e5ff, 721px 1910px #00e5ff,
    318px 218px #00e5ff, 607px 319px #00e5ff, 495px 535px #00e5ff, 1552px 1575px #00e5ff,
    1562px 67px #00e5ff, 403px 926px #00e5ff, 1096px 1800px #00e5ff, 1814px 1709px #00e5ff,
    1882px 1831px #00e5ff, 533px 46px #00e5ff, 823px 969px #00e5ff, 530px 165px #00e5ff,
    1030px 352px #00e5ff, 1681px 313px #00e5ff, 338px 115px #00e5ff, 1607px 211px #00e5ff,
    1718px 1184px #00e5ff, 1589px 659px #00e5ff, 278px 355px #00e5ff, 464px 1464px #00e5ff,
    1165px 277px #00e5ff, 950px 694px #00e5ff, 1746px 293px #00e5ff, 793px 911px #00e5ff,
    528px 773px #00e5ff, 1883px 1694px #00e5ff, 748px 182px #00e5ff, 1924px 1531px #00e5ff,
    100px 636px #00e5ff, 1473px 1445px #00e5ff, 1264px 1244px #00e5ff, 850px 1377px #00e5ff,
    987px 1976px #00e5ff, 933px 1761px #00e5ff, 922px 1270px #00e5ff, 500px 396px #00e5ff,
    1324px 8px #00e5ff, 1967px 1814px #00e5ff, 1072px 1401px #00e5ff, 961px 37px #00e5ff,
    156px 81px #00e5ff, 1915px 502px #00e5ff, 1076px 1846px #00e5ff, 152px 1669px #00e5ff,
    986px 1529px #00e5ff, 1667px 1137px #00e5ff;
}

#stars2:after {
    content: '';
    position: relative;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #00e5ff, 1775px 1663px #00e5ff, 332px 1364px #00e5ff,
    878px 340px #00e5ff, 569px 1832px #00e5ff, 1422px 1684px #00e5ff, 1946px 1907px #00e5ff,
    121px 979px #00e5ff, 1044px 1069px #00e5ff, 463px 381px #00e5ff, 423px 112px #00e5ff,
    523px 1179px #00e5ff, 779px 654px #00e5ff, 1398px 694px #00e5ff, 1085px 1464px #00e5ff,
    1599px 1869px #00e5ff, 801px 1882px #00e5ff, 779px 1231px #00e5ff, 552px 932px #00e5ff,
    1057px 1196px #00e5ff, 282px 1280px #00e5ff, 496px 1986px #00e5ff, 1833px 1120px #00e5ff,
    1802px 1293px #00e5ff, 6px 1696px #00e5ff, 412px 1902px #00e5ff, 605px 438px #00e5ff,
    24px 1212px #00e5ff, 234px 1320px #00e5ff, 544px 344px #00e5ff, 1107px 170px #00e5ff,
    1603px 196px #00e5ff, 905px 648px #00e5ff, 68px 1458px #00e5ff, 649px 1969px #00e5ff,
    744px 675px #00e5ff, 1127px 478px #00e5ff, 714px 1814px #00e5ff, 1486px 526px #00e5ff,
    270px 1636px #00e5ff, 1931px 149px #00e5ff, 1807px 378px #00e5ff, 8px 390px #00e5ff,
    1415px 699px #00e5ff, 1473px 1211px #00e5ff, 1590px 141px #00e5ff, 270px 1705px #00e5ff,
    69px 1423px #00e5ff, 1108px 1053px #00e5ff, 1946px 128px #00e5ff, 371px 371px #00e5ff,
    1490px 220px #00e5ff, 357px 1885px #00e5ff, 363px 363px #00e5ff, 1896px 1256px #00e5ff,
    1979px 1050px #00e5ff, 947px 1342px #00e5ff, 1754px 242px #00e5ff, 514px 974px #00e5ff,
    65px 1477px #00e5ff, 1840px 547px #00e5ff, 950px 695px #00e5ff, 459px 1150px #00e5ff,
    1124px 1502px #00e5ff, 481px 940px #00e5ff, 680px 839px #00e5ff, 797px 1169px #00e5ff,
    1977px 1491px #00e5ff, 734px 1724px #00e5ff, 210px 298px #00e5ff, 816px 628px #00e5ff,
    686px 770px #00e5ff, 1721px 267px #00e5ff, 1663px 511px #00e5ff, 1481px 1141px #00e5ff,
    582px 248px #00e5ff, 1308px 953px #00e5ff, 628px 657px #00e5ff, 897px 1535px #00e5ff,
    270px 931px #00e5ff, 791px 467px #00e5ff, 1336px 1732px #00e5ff, 1013px 1653px #00e5ff,
    1911px 956px #00e5ff, 587px 816px #00e5ff, 83px 456px #00e5ff, 930px 1478px #00e5ff,
    1587px 1694px #00e5ff, 614px 1200px #00e5ff, 302px 1782px #00e5ff, 1711px 1432px #00e5ff,
    443px 904px #00e5ff, 1666px 714px #00e5ff, 1588px 1167px #00e5ff, 273px 1075px #00e5ff,
    1679px 461px #00e5ff, 721px 664px #00e5ff, 1202px 10px #00e5ff, 166px 1126px #00e5ff,
    331px 1628px #00e5ff, 430px 1565px #00e5ff, 1585px 509px #00e5ff, 640px 38px #00e5ff,
    822px 837px #00e5ff, 1760px 1664px #00e5ff, 1122px 1458px #00e5ff, 398px 131px #00e5ff,
    689px 285px #00e5ff, 460px 652px #00e5ff, 1627px 365px #00e5ff, 348px 1648px #00e5ff,
    819px 1946px #00e5ff, 981px 1917px #00e5ff, 323px 76px #00e5ff, 979px 684px #00e5ff,
    887px 536px #00e5ff, 1348px 1596px #00e5ff, 1055px 666px #00e5ff, 1402px 1797px #00e5ff,
    1300px 1055px #00e5ff, 937px 238px #00e5ff, 1474px 1815px #00e5ff, 1144px 1710px #00e5ff,
    1629px 1087px #00e5ff, 911px 919px #00e5ff, 771px 819px #00e5ff, 403px 720px #00e5ff,
    163px 736px #00e5ff, 1062px 238px #00e5ff, 1774px 818px #00e5ff, 1874px 1178px #00e5ff,
    1177px 699px #00e5ff, 1244px 1244px #00e5ff, 1371px 58px #00e5ff, 564px 1515px #00e5ff,
    1824px 487px #00e5ff, 929px 702px #00e5ff, 394px 1348px #00e5ff, 1161px 641px #00e5ff,
    219px 1841px #00e5ff, 358px 941px #00e5ff, 140px 1759px #00e5ff, 1019px 1345px #00e5ff,
    274px 436px #00e5ff, 1433px 1605px #00e5ff, 1798px 1426px #00e5ff, 294px 1848px #00e5ff,
    1681px 1877px #00e5ff, 1344px 1824px #00e5ff, 1439px 1632px #00e5ff,
    161px 1012px #00e5ff, 1308px 588px #00e5ff, 1789px 582px #00e5ff, 721px 1910px #00e5ff,
    318px 218px #00e5ff, 607px 319px #00e5ff, 495px 535px #00e5ff, 1552px 1575px #00e5ff,
    1562px 67px #00e5ff, 403px 926px #00e5ff, 1096px 1800px #00e5ff, 1814px 1709px #00e5ff,
    1882px 1831px #00e5ff, 533px 46px #00e5ff, 823px 969px #00e5ff, 530px 165px #00e5ff,
    1030px 352px #00e5ff, 1681px 313px #00e5ff, 338px 115px #00e5ff, 1607px 211px #00e5ff,
    1718px 1184px #00e5ff, 1589px 659px #00e5ff, 278px 355px #00e5ff, 464px 1464px #00e5ff,
    1165px 277px #00e5ff, 950px 694px #00e5ff, 1746px 293px #00e5ff, 793px 911px #00e5ff,
    528px 773px #00e5ff, 1883px 1694px #00e5ff, 748px 182px #00e5ff, 1924px 1531px #00e5ff,
    100px 636px #00e5ff, 1473px 1445px #00e5ff, 1264px 1244px #00e5ff, 850px 1377px #00e5ff,
    987px 1976px #00e5ff, 933px 1761px #00e5ff, 922px 1270px #00e5ff, 500px 396px #00e5ff,
    1324px 8px #00e5ff, 1967px 1814px #00e5ff, 1072px 1401px #00e5ff, 961px 37px #00e5ff,
    156px 81px #00e5ff, 1915px 502px #00e5ff, 1076px 1846px #00e5ff, 152px 1669px #00e5ff,
    986px 1529px #00e5ff, 1667px 1137px #00e5ff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow: 387px 1878px #00e5ff, 760px 1564px #00e5ff, 1487px 999px #00e5ff,
    948px 1828px #00e5ff, 1977px 1001px #00e5ff, 1284px 1963px #00e5ff, 656px 284px #00e5ff,
    1268px 1635px #00e5ff, 1820px 598px #00e5ff, 642px 1900px #00e5ff, 296px 57px #00e5ff,
    921px 1620px #00e5ff, 476px 1858px #00e5ff, 658px 613px #00e5ff, 1171px 1363px #00e5ff,
    1419px 283px #00e5ff, 1037px 731px #00e5ff, 503px 663px #00e5ff, 1562px 463px #00e5ff,
    383px 1197px #00e5ff, 1171px 1233px #00e5ff, 876px 1768px #00e5ff, 856px 1615px #00e5ff,
    1375px 1924px #00e5ff, 1725px 918px #00e5ff, 952px 119px #00e5ff, 768px 1212px #00e5ff,
    992px 1462px #00e5ff, 1929px 717px #00e5ff, 1947px 755px #00e5ff, 1818px 1123px #00e5ff,
    1896px 1672px #00e5ff, 460px 198px #00e5ff, 256px 271px #00e5ff, 752px 544px #00e5ff,
    1222px 1859px #00e5ff, 1851px 443px #00e5ff, 313px 1858px #00e5ff, 709px 446px #00e5ff,
    1546px 697px #00e5ff, 674px 1155px #00e5ff, 1112px 130px #00e5ff, 355px 1790px #00e5ff,
    1496px 974px #00e5ff, 1696px 480px #00e5ff, 1316px 1265px #00e5ff, 1645px 1063px #00e5ff,
    1182px 237px #00e5ff, 427px 1582px #00e5ff, 859px 253px #00e5ff, 458px 939px #00e5ff,
    1517px 1644px #00e5ff, 1943px 60px #00e5ff, 212px 1650px #00e5ff, 966px 1786px #00e5ff,
    473px 712px #00e5ff, 130px 76px #00e5ff, 1417px 1186px #00e5ff, 909px 1580px #00e5ff,
    1913px 762px #00e5ff, 204px 1143px #00e5ff, 1998px 1057px #00e5ff, 1468px 1301px #00e5ff,
    144px 1676px #00e5ff, 21px 1601px #00e5ff, 382px 1362px #00e5ff, 912px 753px #00e5ff,
    1488px 1405px #00e5ff, 802px 156px #00e5ff, 174px 550px #00e5ff, 338px 1366px #00e5ff,
    1197px 774px #00e5ff, 602px 486px #00e5ff, 682px 1877px #00e5ff, 348px 1503px #00e5ff,
    407px 1139px #00e5ff, 950px 1400px #00e5ff, 922px 1139px #00e5ff, 1697px 293px #00e5ff,
    1238px 1281px #00e5ff, 1038px 1197px #00e5ff, 376px 1889px #00e5ff,
    1255px 1680px #00e5ff, 1008px 1316px #00e5ff, 1538px 1447px #00e5ff,
    1186px 874px #00e5ff, 1967px 640px #00e5ff, 1341px 19px #00e5ff, 29px 1732px #00e5ff,
    16px 1650px #00e5ff, 1021px 1075px #00e5ff, 723px 424px #00e5ff, 1175px 41px #00e5ff,
    494px 1957px #00e5ff, 1296px 431px #00e5ff, 175px 1507px #00e5ff, 831px 121px #00e5ff,
    498px 1947px #00e5ff, 617px 880px #00e5ff, 240px 403px #00e5ff;
}

#stars3:after {
    content: '';
    position: relative;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #00e5ff, 760px 1564px #00e5ff, 1487px 999px #00e5ff,
    948px 1828px #00e5ff, 1977px 1001px #00e5ff, 1284px 1963px #00e5ff, 656px 284px #00e5ff,
    1268px 1635px #00e5ff, 1820px 598px #00e5ff, 642px 1900px #00e5ff, 296px 57px #00e5ff,
    921px 1620px #00e5ff, 476px 1858px #00e5ff, 658px 613px #00e5ff, 1171px 1363px #00e5ff,
    1419px 283px #00e5ff, 1037px 731px #00e5ff, 503px 663px #00e5ff, 1562px 463px #00e5ff,
    383px 1197px #00e5ff, 1171px 1233px #00e5ff, 876px 1768px #00e5ff, 856px 1615px #00e5ff,
    1375px 1924px #00e5ff, 1725px 918px #00e5ff, 952px 119px #00e5ff, 768px 1212px #00e5ff,
    992px 1462px #00e5ff, 1929px 717px #00e5ff, 1947px 755px #00e5ff, 1818px 1123px #00e5ff,
    1896px 1672px #00e5ff, 460px 198px #00e5ff, 256px 271px #00e5ff, 752px 544px #00e5ff,
    1222px 1859px #00e5ff, 1851px 443px #00e5ff, 313px 1858px #00e5ff, 709px 446px #00e5ff,
    1546px 697px #00e5ff, 674px 1155px #00e5ff, 1112px 130px #00e5ff, 355px 1790px #00e5ff,
    1496px 974px #00e5ff, 1696px 480px #00e5ff, 1316px 1265px #00e5ff, 1645px 1063px #00e5ff,
    1182px 237px #00e5ff, 427px 1582px #00e5ff, 859px 253px #00e5ff, 458px 939px #00e5ff,
    1517px 1644px #00e5ff, 1943px 60px #00e5ff, 212px 1650px #00e5ff, 966px 1786px #00e5ff,
    473px 712px #00e5ff, 130px 76px #00e5ff, 1417px 1186px #00e5ff, 909px 1580px #00e5ff,
    1913px 762px #00e5ff, 204px 1143px #00e5ff, 1998px 1057px #00e5ff, 1468px 1301px #00e5ff,
    144px 1676px #00e5ff, 21px 1601px #00e5ff, 382px 1362px #00e5ff, 912px 753px #00e5ff,
    1488px 1405px #00e5ff, 802px 156px #00e5ff, 174px 550px #00e5ff, 338px 1366px #00e5ff,
    1197px 774px #00e5ff, 602px 486px #00e5ff, 682px 1877px #00e5ff, 348px 1503px #00e5ff,
    407px 1139px #00e5ff, 950px 1400px #00e5ff, 922px 1139px #00e5ff, 1697px 293px #00e5ff,
    1238px 1281px #00e5ff, 1038px 1197px #00e5ff, 376px 1889px #00e5ff,
    1255px 1680px #00e5ff, 1008px 1316px #00e5ff, 1538px 1447px #00e5ff,
    1186px 874px #00e5ff, 1967px 640px #00e5ff, 1341px 19px #00e5ff, 29px 1732px #00e5ff,
    16px 1650px #00e5ff, 1021px 1075px #00e5ff, 723px 424px #00e5ff, 1175px 41px #00e5ff,
    494px 1957px #00e5ff, 1296px 431px #00e5ff, 175px 1507px #00e5ff, 831px 121px #00e5ff,
    498px 1947px #00e5ff, 617px 880px #00e5ff, 240px 403px #00e5ff ;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

